<div class="gameScreen">
    <div class="card-stack">

        <!-- Card stack-->
        <img *ngFor="let item of [0,1,2,3]; let i = index;" [ngStyle]="{'right.px': i * 10}"
            src="./assets/img/cards/card_cover.png">

        <img (click)="takeCard()" class="top-card" style="right: 40px;" src="./assets/img/cards/card_cover.png">

        <!-- Stack for played cards-->
        <img *ngFor="let card of game.playedCards; let i = index" style="right: 40px;" class="played-card"
            [src]="getCardImage(card)" alt="">

        <!-- Current card (Animation)-->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card no-border" style="right: 40px;"
            src="./assets/img/cards/{{ currentSymbol }}/{{ currentCard }}.png">


    </div>
</div>