<div class="player-screen-container">
    <app-player-screen *ngFor="let player of game.players; let i = index" class="player-container"
        [ngStyle]="{'top': getTopPosition(i)}" [playerActive]="i == game.currentPlayer"
        [name]="player"></app-player-screen>
</div>



<div class="gameScreen">
    <div class="card-stack">

        <!-- Card stack-->
        <img *ngFor="let item of [0,1,2,3]; let i = index;" [ngStyle]="{'right.px': i * 10}"
            src="./assets/img/cards/card_cover.png">

        <img (click)="takeCard()" class="top-card" style="right: 40px;" src="./assets/img/cards/card_cover.png">

        <!-- Stack for played cards-->
        <img *ngFor="let card of game.playedCards; let i = index" style="right: 40px;" class="played-card"
            [src]="getCardImage(card)" alt="">

        <!-- Current card (Animation)-->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card no-border" style="right: 40px;"
            src="./assets/img/cards/{{ game.currentSymbol }}/{{ game.currentCard }}.png">
        

    </div>


    <app-game-informations [card]="game.currentCard" class="informations"></app-game-informations>

    <button (click)="openDialog()" class="btn-add" mat-fab color="primary"
        aria-label="Example icon button with a delete icon">
        <mat-icon>add</mat-icon>
    </button>
</div>